# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5433/db"

# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# GitHub Configuration
GITHUB_ACCESS_TOKEN=
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=

# Stellar Configuration
STELLAR_NETWORK="testnet"
STELLAR_HORIZON_URL="https://horizon-testnet.stellar.org"
STELLAR_RPC_URL="https://soroban-testnet.stellar.org"
STELLAR_MASTER_PUBLIC_KEY="public-key"
STELLAR_MASTER_SECRET_KEY="secret-key"
TASK_ESCROW_CONTRACT_ID="escrow-contract-id"
USDC_CONTRACT_ID="usdc-contract-id"
USDC_ASSET_ID="usdc-asset-id"
X402_PAYEE_ADDRESS="payee-address"
X402_FACILITATOR_URL="https://channels.openzeppelin.com/x402/testnet"
X402_API_KEY="x402-api-key"

# GCP Configuration
GCP_PROJECT_ID="gcp-project"
GCP_LOCATION_ID="location"
GCP_KEY_RING_ID="key-ring"
GCP_KEY_ID="key-id"
GEMINI_MODEL="gemini-3.1-pro-preview"

# Cloud Tasks Configuration
CLOUD_TASKS_PR_ANALYSIS_QUEUE="pr-analysis-queue"
CLOUD_TASKS_MANUAL_PR_ANALYSIS_QUEUE="manual-pr-analysis-queue"
CLOUD_TASKS_REPO_INDEXING_QUEUE="repo-indexing-queue"
CLOUD_TASKS_INCREMENTAL_INDEXING_QUEUE="incremental-indexing-queue"
CLOUD_TASKS_BOUNTY_PAYOUT_QUEUE="bounty-payout-queue"
CLOUD_TASKS_CLEAR_INSTALLATION_QUEUE="clear-installation-queue"
CLOUD_TASKS_CLEAR_REPO_QUEUE="clear-repo-queue"
CLOUD_RUN_SERVICE_URL="https://your-service-url.run.app"
CLOUD_RUN_PRIVATE_SERVICE_URL="https://your-private-service-url.run.app"
CLOUD_TASKS_SERVICE_ACCOUNT_EMAIL="service-account@project.iam.gserviceaccount.com"

# Default Subscription Package
DEFAULT_SUBSCRIPTION_PACKAGE_ID=

# Sumsub Configuration
SUMSUB_APP_TOKEN=
SUMSUB_SECRET_KEY=
SUMSUB_WEBHOOK_SECRET=
SUMSUB_LEVEL_NAME="id-and-liveness"
SUMSUB_BASE_URL="https://api.sumsub.com"

# Statsig Configuration
STATSIG_API_KEY=

# Other environment variables
NODE_ENV=development
PORT=8080
CONTRIBUTOR_APP_URL="http://localhost:4000"