node_modules
# Keep environment variables out of version control
.env
.env.test

prisma/migrations
prisma_client

no_git
requirements.txt

.kiro
dist

package-lock.json

# Test & log folders
coverage
logs