node_modules
# Keep environment variables out of version control
.env
.env.test

prisma/migrations
/api/generated/client

/no-git/*
requirements.txt

/.kiro/*
/dist/*

# Test & log folders
coverage
logs